

<!-- Side navigation -->
<div class="sidenav" id="sidenav-left">
    <img src="https://loremflickr.com/320/240" />
    <img src="https://loremflickr.com/320/241" />
    <img src="https://loremflickr.com/320/242" />
  </div>
  
  <body>
    <div class="container">
      <router-outlet>
      </router-outlet>
    </div>
  </body>
  
  <div class="sidenav" id="sidenav-right">
    <img src="https://loremflickr.com/320/243" />
    <img src="https://loremflickr.com/320/244" />
    <img src="https://loremflickr.com/320/245" />
  </div>