h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: rgb(219, 48, 48); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
  }
  #sidenav-left {
    left: 0;
  }
  #sidenav-right {
    right: 0;
  }
  body {
    margin-left: 25%; /* Same as the width of the sidebar */
    margin-right: 25%;
  }  
  /* The navigation menu links */
  .sidenav img {
    padding: 5px 5px 5px 5px;
    height: auto;
    width: 100%;
    display: block;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  